body{
    background-color: blue;
    margin-left: 0px;
    margin-right: 0px;

}
.contenedor{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: white;

}
h1{
    padding-bottom: 20px;
    color: red;
}
img{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
p{
    text-align: justify;
}